@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0; padding: 0;
    font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    text-align: center;
}

#x-axis {
    width: 550px;
    height: 38px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#y-axis {
    width: 68.75px;
    position: absolute;
    margin-top: 7px;
    left: calc(50% - 338px);
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.axis {
    width: 68.75px;
    font-size: 14pt;
    font-weight: bold;
}

#y-axis > .axis {
    height: 68px;
    padding-top: 22px;
}

#board-container {
    font-size: 10pt;
    position: absolute;
    top: 270px;
    left: calc(50% - 275px);
    width: 550px;
    height: 550px;
    border: 1px black solid;
    display: grid;
    grid-template-columns: repeat(8, auto);
    grid-template-rows: repeat(8, auto);
    align-items: center;
    justify-items: center;
}

.cell {
    border: 1px black solid;
    box-sizing: border-box;
    height: 68.75px;
    width: 68.75px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.knight {
    width: 50px;
}

.cell-text {
    font-weight: bold;
}

#comment {

    height: 130px;

}

.comment-text {
    font-size: 12pt;
    margin: 14pt auto;
}

.start-move {
    font-size: 16pt;
    color: yellowgreen;
    font-weight: bold;
}

.gray {
    background-color: gray;
}

.lightgray {
    background-color: lightgray;
}

.start-cell {
    background-color: yellowgreen;
}

.end-cell {
    background-color: #eb4934;
}

.blue-cell {
    background-color: cornflowerblue;
}

.end-move {
    font-size: 16pt;
    color: #eb4934;
    font-weight: bold;
}

header {
    margin: 20pt;
}

footer {
    position: absolute;
    bottom: 0;
    font-size: 8pt;
    width: 100%;
    height: 19px;
}