<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div class="container">
    
    <header>
        <h1><%= htmlWebpackPlugin.options.title %></h1>
    </header>

    <main id="main">
        <div id="comment">
            <p id="comment-main"></p>
        </div>
        <div id="x-axis">
            <p class="axis">A</p>
            <p class="axis">B</p>
            <p class="axis">C</p>
            <p class="axis">D</p>
            <p class="axis">E</p>
            <p class="axis">F</p>
            <p class="axis">G</p>
            <p class="axis">H</p>
        </div>
        <div id="y-axis">
            <p class="axis">8</p>
            <p class="axis">7</p>
            <p class="axis">6</p>
            <p class="axis">5</p>
            <p class="axis">4</p>
            <p class="axis">3</p>
            <p class="axis">2</p>
            <p class="axis">1</p>
        </div>
    </main>
    
    <footer>
   <p>Copyright © Rachael Cole 2022. This project is&nbsp;<a href="https://github.com/jcrachael/knights-travails/">open source</a>.
   </p>
    </footer>  
    </div>
</body>
</html>